// Place all the styles related to the watchlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-pane {
  width: 100%;
  max-width: 750px;
  box-sizing: border-box;
  padding: 1rem;

  .status {
    font-style: italic;
    color: #ccc;
  }
}

input[type=text] {
  background-color: #f9f9f9;
  border: none;
  width: 100%;
  font-size: 1.2rem;
  padding: 1.2em;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 1px 3px #e9e9e9;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px #ddd;
  }
}

result {
  width: 100%;
  padding: 1.1em;
  float: left;
  cursor: default;
  box-sizing: border-box;
  transition: background .1s ease-in-out;

  .title {
    font-size: 1.2rem;
    color: #777;
    float: left;
    transition: color .1s ease-in-out;
  }

  .attribute {
    font-size: .65rem;
    color: #fff;
    background-color: #777;
    border-radius: 3px;
    padding: 1ch 1em;
    margin-left: 1em;
    float: left;
    text-transform: capitalize;
  }

  [data-is=film-info] {
    width: 100%;
    float: left;
    font-weight: 300;
    font-size: 1rem;

    // possibly move this to be more global
    p {
      line-height: 1.4em;
    }

    b {

    }

    & > .plot {
      font-size: 1.5rem;
    }
  }

  &:hover {
    background-color: #f3f3f3;

    & > .title {
      color: #000;
    }
  }
}
